aside {
	width: 40%;
	padding-left: .5rem;
	margin-left: .5rem;
	float: right;
	box-shadow: inset 5px 0 5px -5px #29627e;
	font-style: italic;
	color: #29627e;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

/* blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
} */

code {
    white-space: pre-wrap !important;
    overflow-wrap: break-word !important;
}

 /* horizontal rule 
  */
hr {
	overflow: visible; /* For IE */
	padding: 0;
	border: none;
	border-top: medium double #333;
	color: #333;
	text-align: center;
}

hr:after {
	content: "\00A7";
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
	background: white;
}

a {
	color: black;
	text-decoration: underline;
}

a:visited {
	color: black;
	text-decoration: underline;
}

a:hover {
	color: black;
	text-decoration: none;
}

ol {
	margin: 15px;
	line-height: 1.5;
}

pre {
	background-color: #FFF;
	white-space: pre-wrap;
	padding: 10px;
	/* max-width: 50vw;*/
}

video {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

figcaption {
	font-size: .84em;
	text-align: center;
}

.footnotes {
	font-size: .84em;
	text-align: left;
	line-height: 1;
	list-style: none;
	line-break: anywhere;
}

.masthead-wrap {
 filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

#masthead {
  max-width: 50vw;
  clip-path: polygon(0% 0%, 87% 5%, 98% 87%, 3% 93%);
  -webkit-clip-path: polygon(0% 0%, 87% 5%, 98% 87%, 3% 93%);
}

